<div class="card" style="width:45%">
    <div class="card-body">
        <h2>
            {{position}} @ {{company}}
        </h2>
        <h5>
            Salary: {{salary}}
        </h5>
        <h5>
            Link: {{link}}
        </h5>
        <div>
            Posted by {{username}} on {{date_posted}}, {{score}} points
        </div> 
    </div>
</div>