<div class="card" style="width:45%">
    <div class="card-body">
        <h2>
            {{position}} @ {{company_name}}
        </h2>
        <h5>
            Salary: {{salary}}
        </h5>
        <h5>
            Link: {{link}}
        </h5>
        <h5>
            Modality: {{modality_string}}
        </h5>
        <div>
            Posted by {{username}} on {{time_posted}}, {{points}} points
        </div> 
    </div>
</div>